@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255, 255, 1;
  --background-start-rgb: 24,24, 27, 1;
  --background-end-rgb: 24, 24, 27,1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



#card #titulo {
  position: fixed;
  top: 18rem;
  pointer-events: none;
  font-size: 0.9rem;
  
  
}

#card #botao {
  position: fixed;
  top: 13.4rem;
  width: 6rem;
  opacity: 0;
  
  
}
#card #poster:hover ~ #botao{
  opacity: 1;
  pointer-events: none;
}

#card #poster:hover {
  opacity: 0.2;
}
#card #poster:hover ~ #titulo{
  opacity: 0.2;
}

